/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  background: rgb(230, 238, 241);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  width: 1060px;
  max-width: 100%;
  padding: 25px 53px;
  margin: 0 100px 0 759px;

}

nav>ul,
nav>ul>img,
nav>form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav>ul>li {
  display: inline;
  list-style: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(40, 40, 77);
}

nav a:hover{
  color: rgb(255, 136, 0);
}

.welcome>h1 {
  margin: 0;
  padding: 155px 0 0 150px;
  font-family: 'Playfair Display';
  font-weight: 800;
  font-size: 10rem;
  color: rgb(13, 13, 37);

}

.welcome input[type=text] {
  float: left;
  margin-top: 50px;
  margin-left: 150px;
  padding: 20px;
  line-height: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 8px 0 0 8px;
  border: 1px solid rgb(155, 155, 194);
  width: 33%;
  background: rgb(255, 255, 255);
  color: rgb(184, 184, 184);
}

.welcome button {
  width: 8%;
  margin-top: 50px;
  padding: 25px;
  border: 1px solid rgb(155, 155, 194);
  border-radius: 0 8px 8px 0;
  border-left: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: rgb(255, 136, 0);
}

.social {
  width: 35%;
  padding: 50px 0 150px 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.social .fa{
  font-size: 30px;
  color: rgb(253, 135, 0);
}

.aboutUs {
  padding: 130px 0 225px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.box {
  padding-left: 375px;
  position: relative;
}

.box>h3 {
  color: rgb(255, 136, 0);
  font-size: 2.5rem;
  font-weight: 400;
}

.box>h2 {
  color: rgb(13, 13, 37);
  font-family: 'Playfair Display';
  font-size: 8rem;
  font-weight: 800;
}

.box>p {
  padding-top: 35px;
  font-size: 2rem;
  line-height: 3.5rem;
  color: rgb(77, 77, 108);
}

.box button[type=text] {
  width: 30%;
  margin-top: 50px;
  padding: 25px;
  border: none;
  border-radius: 10px 0 0 10px;
  border-right: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background: rgb(255, 136, 0);
}

.box button {
  float: left;
  width: 8%;
  margin-top: 50px;
  padding: 25px;
  border: none;
  border-radius: 0 8px 8px 0;
  border-left: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: rgb(255, 170, 77);
}

.orderOnline {
  float: left;
  text-align: center;
  padding: 105px 0 100px 0;
  background: rgb(242, 246, 247);
}

.boxOrderOnline>h3 {
  color: rgb(255, 136, 0);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.boxOrderOnline>h2 {
  color: rgb(13, 13, 37);
  font-family: 'Playfair Display';
  font-size: 8.5rem;
  font-weight: 800;
  padding-top: 15px;
  letter-spacing: 3px;
}

.boxOrderOnline>ul {
  padding: 35px 0 15px 0;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid rgb(190, 190, 192);
}

.boxOrderOnline li:hover a {
  color: rgb(255, 136, 0);
  padding-bottom: 36px;
  border-bottom: 2px solid rgb(255, 136, 0);
}

.boxOrderOnline li {
  display: inline-block;
  padding: 25px;
  font-size: 2.6rem;
  color: rgb(40, 40, 77);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 100px 70px 100px;
}

.menuColumn {
  flex: 25%;
  max-width: 100%;
  padding: 0 25px;
}

.menuColumn img {
  margin-top: 10px;
  margin-bottom: 30px;
  vertical-align: middle;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.menuColumn>img:hover {
  opacity: 0.7;
}

.contact {
  float: left;
  text-align: center;
  width: 100%;
  padding: 105px 0 100px 0;
  background: rgb(255, 255, 255);
}

.boxContact h3 {
  color: rgb(255, 136, 0);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.boxContact>h2 {
  color: rgb(13, 13, 37);
  font-family: 'Playfair Display';
  font-size: 8.5rem;
  font-weight: 800;
  padding-top: 15px;
  letter-spacing: 3px;
}

.boxContact .fa {
  padding-top: 60px;
  font-size: 5rem;
  color: rgb(255, 136, 0);
}

.boxContact .call {
  color: rgb(13, 13, 37);
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 20px;
  display: block;
}

.boxContact .phone {
  color: rgb(255, 136, 0);
  font-family: 'Source Serif Pro';
  font-size: 5.5rem;
  font-weight: 600;
  padding-top: 10px;
}

.flexDayTime {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding-top: 15px;
}

.dayTime>h4 {
  font-weight: 400;
  font-size: 2.5rem;
  color: rgb(13, 13, 37);
}

.dayTime>span {
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-size: 4rem;
  color: rgb(13, 13, 37);
}

.slideShow {
  padding-top: 60px;
}

.boxReview {
  float: left;
  text-align: center;
  width: 100%;
  padding: 105px 0 100px 0;
  background: rgb(230, 238, 241);
}

.boxReview>h3 {
  color: rgb(255, 136, 0);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}

.boxReview>h2 {
  color: rgb(13, 13, 37);
  font-family: 'Playfair Display';
  font-size: 8.5rem;
  font-weight: 800;
  padding: 15px 0 100px 0;
  letter-spacing: 3px;
}

.boxReview>img {
  border-radius: 50%;
}

.boxReview>.name {
  display: block;
  padding-top: 20px;
  font-size: 3.5rem;
  font-weight: 400;
}

.boxReview>.title {
  display: block;
  padding-top: 10px;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(107, 107, 107);
}

.boxReview .fa {
  padding-top: 30px;
  font-size: 3rem;
  color: rgb(255, 193, 7);
}

.boxReview p {
  width: 75%;
  font-size: 2.5rem;
  padding-top: 15px;
  margin-left: 250px;
  color: rgb(77, 77, 108);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/